<div id="exp">
  <h1>Basic calculator</h1>
  <p>Type your numbers,select your opetarion, then press enter :)</p>
</div>


<div id="container">
  <div class="calculator card">

    <input type="number" class="calculator-screen z-depth-1" placeholder="Type a number" [(ngModel)]="operatorA" name="oparatorA"/>
    <input type="number" class="calculator-screen z-depth-1" placeholder="Type a number" [(ngModel)]="operatorB" name="oparatorB"/>
  
    <div class="calculator-keys">
  
      <button type="button" class="operator btn btn-info" value="+" (click)="onSum()">+</button>
      <button type="button" class="operator btn btn-info" value="-" (click)="onSubs()">-</button>
      <button type="button" class="operator btn btn-info" value="*" (click)="onMult()">&times;</button>
      <button type="button" class="operator btn btn-info" value="/" (click)="onDiv()">&divide;</button>
  
      
  
      <button type="submit" class="equal-sign operator btn btn-default" value="=">=</button>
      <p>Result: {{answer}}</p>
  
    </div>
  </div>
</div>


